<!DOCTYPE html>
<html style="cursor: pointer;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" sizes="16x16" href="https://ssl.gstatic.com/docs/spreadsheets/forms/favicon_qp2.png">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__CDN__/assets/css/index/bloomberg/form/style.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body class="freebirdLightBackground">
    <div class="freebirdFormviewerViewFormContentWrapper">
        <div class="freebirdFormviewerViewFormBanner freebirdHeaderMast"></div>
        <div class="freebirdFormviewerViewCenteredContent">
            <form action="" target="_self" method="POST" id="mG61Hd">
                <div class="freebirdFormviewerViewFormCard">
                    <div class="freebirdFormviewerViewAccentBanner freebirdAccentBackground"></div>
                    <div class="freebirdFormviewerViewFormContent ">
                        <div class="freebirdFormviewerViewNoPadding">
                            <div class="freebirdFormviewerViewHeaderHeader">
                                <div class="freebirdFormviewerViewHeaderTitleRow">
                                    <div class="freebirdFormviewerViewHeaderTitle freebirdCustomFont">We don't have 217 years to wait. #PressForProgress today.</div>
                                </div>
                                <div class="freebirdFormviewerViewHeaderDescription">The World Economic Forum estimates that it will take 217 years for economic gender parity to be achieved.<p>In honor of International Women's Day on March 8th, we're asking all of you to share how you will take action towards gender parity. What will you do to #PressForProgress? </p><p>On this day and throughout March, we invite you to share ideas about how you can make a difference. Make a pledge. You can choose to speak up, be bold, be more involved, teach - the opportunities to commit are endless.</p><p>Your pledges may be selected to be featured on our website and on social media. </p>
                                </div>
                            </div>
                        </div>
                        <div class="freebirdFormviewerViewItemList" role="list">
                            <div class="freebirdFormviewerViewItemsItemItem">
                                <div class="freebirdFormviewerViewItemsItemItemHeader">
                                    <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                                        <div class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont">Pledge Examples</div>
                                    </div>
                                </div>
                                <div class="freebirdFormviewerViewItemsEmbeddedobjectLeft">
                                    <div class="freebirdFormviewerViewItemsEmbeddedobjectImageWrapper" style="width: 969px; ">
                                    	<img src="__CDN__/assets/img/index/bloomberg/form/boxes.png" class="freebirdFormviewerViewItemsEmbeddedobjectImage" style="width: 969px; " title="" alt="">
                                    </div>
                                </div>
                            </div>
                            <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem">
                                <div class="freebirdFormviewerViewItemsItemItemHeader">
                                    <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                                        <div class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont">Name</div>
                                        <div class="freebirdFormviewerViewItemsItemItemHelpText"></div>
                                    </div>
                                </div>
                                <div class="freebirdFormviewerViewItemsTextItemWrapper">
                                    <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput">
                                        <div class="quantumWizTextinputPaperinputMainContent exportContent">
                                            <div class="quantumWizTextinputPaperinputContentArea exportContentArea">
                                                <div class="quantumWizTextinputPaperinputInputArea">
                                                    <input type="text" name="uname" class="quantumWizTextinputPaperinputInput exportInput" placeholder="Your answer" onKeyUp="value=value.replace(/[^a-zA-Z]/g,'')">
                                                     <div class="quantumWizTextinputPaperinputPlaceholder" id="uname" style="display: none">This field is required.</div>
                                                </div>
                                                <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                                                <div class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
                                            </div>
                                        </div>
                                        <div class="quantumWizTextinputPaperinputCounterErrorHolder">
                                            <div class="quantumWizTextinputPaperinputHint exportHint"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" ></div>
                                <div class="freebirdFormviewerViewItemsItemErrorMessage" ></div>
                            </div>
                            <div class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem">
                                <div class="freebirdFormviewerViewItemsItemItemHeader">
                                    <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                                        <div class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont">Department</div>
                                        <div class="freebirdFormviewerViewItemsItemItemHelpText"></div>
                                    </div>
                                </div>
                                <div class="freebirdFormviewerViewItemsTextItemWrapper">
                                    <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput">
                                        <div class="quantumWizTextinputPaperinputMainContent exportContent">
                                            <div class="quantumWizTextinputPaperinputContentArea exportContentArea">
                                                <div class="quantumWizTextinputPaperinputInputArea">
                                                    <input type="text" name="department" class="quantumWizTextinputPaperinputInput exportInput" placeholder="Your answer" onKeyUp="value=value.replace(/[^a-zA-Z]/g,'')">
                                                    <div class="quantumWizTextinputPaperinputPlaceholder" id="department" style="display: none">This field is required.</div>
                                                </div>
                                                <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                                                <div class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
                                            </div>
                                        </div>
                                        <div class="quantumWizTextinputPaperinputCounterErrorHolder">
                                            <div class="quantumWizTextinputPaperinputHint exportHint"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox"></div>
                                <div class="freebirdFormviewerViewItemsItemErrorMessage"></div>
                            </div>
                            <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem">
                                <div class="freebirdFormviewerViewItemsItemItemHeader">
                                    <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                                        <div class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont">City</div>
                                        <div class="freebirdFormviewerViewItemsItemItemHelpText"></div>
                                    </div>
                                </div>
                                <div class="freebirdFormviewerViewItemsTextItemWrapper">
                                    <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput">
                                        <div class="quantumWizTextinputPaperinputMainContent exportContent">
                                            <div class="quantumWizTextinputPaperinputContentArea exportContentArea">
                                                <div class="quantumWizTextinputPaperinputInputArea">
                                                    <select name="city" class="quantumWizTextinputPaperinputInput exportInput" required="required">
                                                    	<option disabled selected style="display:none;">Your answer</option>
                                                    	<option value="1">Beijing</option>
                                                    	<option value="2">Shanghai</option>
                                                    </select>
                                                    <div class="quantumWizTextinputPaperinputPlaceholder" id="city" style="display: none">This field is required.</div>
                                                </div>
                                                <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                                                <div class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
                                            </div>
                                        </div>
                                        <div class="quantumWizTextinputPaperinputCounterErrorHolder">
                                            <div class="quantumWizTextinputPaperinputHint exportHint"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox"></div>
                                <div class="freebirdFormviewerViewItemsItemErrorMessage"></div>
                            </div>
                            <div class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem">
                                <div class="freebirdFormviewerViewItemsItemItemHeader">
                                    <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                                        <div class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont">What will you do to #PressForProgress?</div>
                                        <div class="freebirdFormviewerViewItemsItemItemHelpText"></div>
                                    </div>
                                </div>
                                <div class="freebirdFormviewerViewItemsTextItemWrapper">
                                    <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput">
                                        <div class="quantumWizTextinputPaperinputMainContent exportContent">
                                            <div class="quantumWizTextinputPaperinputContentArea exportContentArea">
                                                <div class="quantumWizTextinputPaperinputInputArea">
                                                    <input type="text" name="gress"  class="quantumWizTextinputPaperinputInput exportInput" placeholder="Your answer" onKeyUp="value=value.replace(/[^a-zA-Z]/g,'')">
                                                    <div class="quantumWizTextinputPaperinputPlaceholder" id="gress" style="display: none">This field is required.</div>
                                                </div>
                                                <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                                                <div class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
                                            </div>
                                        </div>
                                        <div class="quantumWizTextinputPaperinputCounterErrorHolder">
                                            <div class="quantumWizTextinputPaperinputHint exportHint"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox" ></div>
                                <div class="freebirdFormviewerViewItemsItemErrorMessage" ></div>
                            </div>
                        </div>
                        <div class="freebirdFormviewerViewNavigationNavControls">
                            <div class="freebirdFormviewerViewNavigationButtonsAndProgress">
                                <div class="freebirdFormviewerViewNavigationButtons">
                                    <div role="button" class="quantumWizButtonPaperbuttonEl quantumWizButtonPaperbuttonFlat quantumWizButtonPaperbuttonDark quantumWizButtonPaperbutton2El2 freebirdFormviewerViewNavigationSubmitButton">
                                        <div class="quantumWizButtonPaperbuttonRipple exportInk"></div>
                                        <div class="quantumWizButtonPaperbuttonFocusOverlay exportOverlay"></div>
                                        <content class="quantumWizButtonPaperbuttonContent">
                                        	<span class="quantumWizButtonPaperbuttonLabel exportLabel">SUBMIT</span>
                                        </content>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
    	var sub = $('.quantumWizButtonPaperbuttonLabel')
    	sub.click(function(){
    		var data = $('#mG61Hd').serializeArray()
    		var d = {}
    		$.each(data, function() {
		      d[this.name] = this.value
		    })
		    if (d.uname && d.department && d.city && d.gress) {
                $.ajax({
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "/index/bloomberg/form/submit" ,//url
                    data: data,
                    success: function (res) {
                        if (res == 1) {
                            alert("Submit Successfully");
                        }
                    },
                    error : function() {
                        alert("异常！");
                    }
                });
		    }else{
		    	if (!d.uname){
		    	    $('#uname').css('display', 'block')
                }
                if (!d.department){
                    $('#department').css('display', 'block')
                }
                if (!d.city){
                    $('#city').css('display', 'block')
                }
                if (!d.gress){
                    $('#gress').css('display', 'block')
                }
		    }
    	})

        $("input:text").bind("input propertychange",function(){
            if ($(this).val().length != 0){
                $(this).next().css('display', 'none')
            }
        });
        $("select").bind("input propertychange",function(){
            if ($(this).val().length != 0){
                $(this).next().css('display', 'none')
            }
        });
    </script>
</body>
</html>